.Experience-timeline {
  margin: 30px auto 0 auto;
  position: relative;
  max-width: 1000px;
}

.vtimeline-point {
  position: relative;
  display: block;
  /* vertical-align: top; */
  margin-bottom: 30px;
}

.vtimeline-icon {
  position: relative;
  color: #fff;
  width: 50px;
  height: 50px;
  background: #D8D8D8;
  border-radius: 50%;
  float: left;
  z-index: 99;
  margin-left: 280px;
}


.vtimeline-date {
  width: 260px;
  text-align: right;
  position: absolute;
  left: 0;
  top: 10px;
  font-weight: 300;
  color: #374054;
}

.vtimeline-content {
  margin-left: 350px;
  background: #fff;
  border: 1px solid #e6e6e6;
  padding: 15px;
  border-radius: 3px;
  text-align: left;
}

.vtimeline-content h3 {
  font-size: 1.5em;
  font-weight: 300;
  color: #374054;
  display: inline-block;
  margin: 0;
}

.vtimeline-content h4 {
  font-size: 1.2em;
  font-weight: 300;
  color: #7e8890;
  margin: 0 0 15px 0;
}

.vtimeline-content p {
  color: #74808a;
  font-size: 0.9em;
  margin: 0;
  line-height: 1.5em;
}

.gitIcon {
  width: 30px;
  height: 30px;
  padding: 10px;
}