.contents-about {
  padding: 75px 15px;
  border-bottom: 1px solid #dcd9d9;
}

.About-box {
  width: 970px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
}

.About-me {
  flex: 1;
  padding: 2.5em;
}

.About-heading {
  color: #374054;
  position: relative;
  display: inline-block;
  font-size: 2em;
  font-weight: 300;
  margin: 0 0 50px 0;
  padding-bottom: 10px;
}

.About-heading:after {
  position: absolute;
  content: "";
  top: 100%;
  height: 1px;
  width: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: #D8D8D8;
}

.About-text {
  color: #74808a;
  margin: 0;
  font-size: 20px;
  line-height: 1.5em;
}

@media only screen and (max-width: 992px) {
  .contents-about {
    text-align: center;
  }

  .About-box {
    width: 970px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    display: block;
  }

  .About-heading {
    color: #374054;
    position: relative;
    display: inline-block;
    font-size: 4em;
    font-weight: bold;
    margin: 0 0 50px 0;
    padding-bottom: 30px;
  }

  .About-heading:after {
    position: absolute;
    content: "";
    top: 100%;
    height: 2px;
    width: 150px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: #D8D8D8;
  }

  .About-text {
    color: #74808a;
    margin: 0;
    font-size: 40px;
    line-height: 1.5em;
  }
}